$xs: 475px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

:root {
	--color-honeydew: #f1fff3;
	--color-light-green: #dff7e2;
	--color-caribbean-green: #00d09e;
	--color-cyprus: #0e3e3e;
	--color-fence-green: #052224;
	--color-void: #031314;
	--color-light-blue: #6db6fe;
	--color-vivid-blue: #3299ff;
	--color-ocean-blue: #0068ff;
}
